.movie {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  cursor: pointer;
  place-items: center;
}

.movie img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
}

.movie img:hover {
  transform: rotate(5deg);
}

.movie a {
  text-align: center;
}
